## Model on AZ: Notes
Features:
- check similar businesses within one mile
- - share at least one category
- - within one mile
- size of chain
- same business type density
- star rating
- business age
- reviews per week
- relative reviews per week

In [105]:
import warnings
import pandas as pd
import numpy as np
import json
from textblob import TextBlob
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score, accuracy_score, r2_score, confusion_matrix
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import math
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
import time
warnings.simplefilter('ignore')

In [7]:
# df_business = pd.read_json('../yelp_dataset/business.json', lines=True)
# df_bus_AZ = df_business[df_business['state']=='AZ']
# all_ids = df_bus_AZ['business_id'].to_numpy()

# df_bus_AZ.to_json(r'AZ_business.json', orient='records')

In [8]:
# reviews = []
# for l in open("../yelp_dataset/review.json").readlines():
#     data = json.loads(l)
#     if data['business_id'] in all_ids:
#         reviews.append(data)
            
# df_reviews = pd.DataFrame.from_records(reviews)

# df_reviews.to_json(r'AZ_review.json',orient='records')

In [3]:
AZ_bus = pd.read_json('AZ_business_with_times.json')
AZ_rev = pd.read_json('AZ_review.json')

In [4]:
AZ_rev = AZ_rev.rename(columns={'stars': 'rating'})
# df_join = AZ_rev.join(AZ_bus.set_index('business_id'), on='business_id')

In [5]:
AZ_rev

,review_id,user_id,business_id,rating,useful,funny,cool,text,date
0,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
1,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38
2,8e9HxxLjjqc9ez5ezzN7iQ,d6xvYpyzcfbF_AZ8vMB7QA,zvO-PJCpNk4fgAVUnExYAA,1,3,1,1,This place has gone down hill. Clearly they h...,2010-10-05 19:12:35
3,-I5umRTkhw15RqpKMl_o1Q,-mA3-1mN4JIEkqOtdbNXCQ,mRUVMJkUGxrByzMQ2MuOpA,1,0,1,0,"Walked in around 4 on a Friday afternoon, we s...",2017-12-15 23:27:08
4,6BnQwlxRn7ZuWdzninM9sQ,JSrP-dUmLlwZiI7Dp3PQ2A,cHdJXLlKNWixBXpDwEGb_A,3,1,7,1,I love chinese food and I love mexican food. W...,2015-04-01 16:30:00
...,...,...,...,...,...,...,...,...,...
2082946,h4NWUfHZPKU5oJ3Qt2c0Rw,KYObsUPFgkOFUxKBUFNOTA,mFTSdfJOv4X5t8LeeY4nJw,5,0,0,0,"Great food aside, I really want to make a shou...",2018-11-10 20:50:44
2082947,nTy6Atxlhrykoz5bXroT0w,LRh7vAnTwvlO0yHP12rxRg,7qH4yhLwwDwIi9tsI8AtKQ,1,0,0,0,Parking is ok now that baseball is over. But t...,2018-11-02 23:48:41
2082948,bzQFrsMDtGIVOeXp5gbNeg,g5K5E9QrxObn6ZC1q8Mb9g,CRVtzesMuwHK-phmS_ojaA,4,0,0,0,Great for a quick stop for a pre-made slice of...,2012-03-29 23:35:45
2082949,0sf0k7p1b1krPfcbP62W5A,Ob6ToKjLna3WOZtrI_m0nw,t1P_vLIyJCIoEaUVcwHdTw,1,2,1,1,We've been here b4 with no major problems but ...,2013-09-21 18:14:30
2082950,jPCXuSBbI_cPocgoNBhdkg,V6BjjQICDO4q7TT3ZhaPWw,yA6dKNm_zl1ucZCnwW8ZCg,1,13,11,5,I think this owner and the owner of Amy's Baki...,2013-05-22 15:32:08

# size of chain

In [140]:
test = AZ_bus.groupby('name', as_index=False).count()

In [142]:
test[['name','business_id']]

                               name  business_id
0          L & A Insurance Services            1
1                  "T"s Hair Affair            1
2                    #1 Elite Nails            1
3                     #1 Fried Rice            1
4                          #1 Sushi            1
...                             ...          ...
43827                        zpizza            2
43828               zpizza Tap Room            1
43829  Ã›r Market & Eden's Juice Bar            1
43830                      Ãœberrito            1
43831              â€‹Century Library            1

[43832 rows x 2 columns]

In [194]:
chains = []
for i in list(range(0,len(AZ_bus))):
    chains.append(test[test.name==AZ_bus.iloc[i]['name']].business_id.values[0])

In [189]:
test[test['name'] == 'â€‹Century Library']['business_id'].values[0]

1

In [195]:
chains

[1,
 1,
 1,
 110,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 6,
 193,
 1,
 1,
 1,
 14,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 8,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 15,
 1,
 1,
 1,
 44,
 1,
 1,
 1,
 1,
 1,
 14,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 19,
 68,
 1,
 1,
 1,
 47,
 1,
 1,
 5,
 1,
 20,
 1,
 1,
 1,
 2,
 7,
 1,
 1,
 1,
 1,
 29,
 1,
 1,
 1,
 1,
 2,
 32,
 1,
 1,
 1,
 1,
 55,
 1,
 1,
 1,
 2,
 1,
 1,
 4,
 1,
 82,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 1,
 3,
 1,
 1,
 3,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 7,
 2,
 1,
 9,
 256,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 256,
 1,
 1,
 27,
 1,
 1,
 1,
 8,
 1,
 10,
 4,
 1,
 1,
 1,
 7,
 1,
 1,
 2,
 2,
 55,
 1,
 1,
 1,
 7,
 1,
 16,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 16,
 1,
 69,
 1,
 5,
 1,
 27,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 41,
 1,
 264,
 1,
 7,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 15,
 11,
 1,
 4,
 41,
 1,
 8,
 1,
 1,
 5,
 1,
 9,
 1,
 1,
 2,
 1,
 1,
 8,
 26,
 1,
 2,
 3,
 1,
 3,
 8,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 9,
 15,
 17,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 24,
 2,
 8,
 1,
 1,
 1,
 12,
 140,
 1,
 1,
 1,
 98,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 193,
 1,
 15,
 1,
 5,
 3,
 1,
 1,
 1,
 1,
 124,
 1,
 1,
 1,
 1,
 1,
 12,
 1,
 1,
 1,
 1,
 2,
 9,
 3,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 40,
 193,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 23,
 1,
 1,
 1,
 1,
 49,
 1,
 1,
 1,
 179,
 1,
 1,
 2,
 1,
 193,
 1,
 1,
 1,
 12,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 33,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 6,
 1,
 1,
 4,
 2,
 4,
 10,
 1,
 1,
 1,
 20,
 1,
 1,
 1,
 1,
 26,
 2,
 8,
 2,
 1,
 1,
 13,
 3,
 1,
 1,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 9,
 1,
 1,
 1,
 2,
 1,
 55,
 1,
 6,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 5,
 12,
 1,
 1,
 1,
 24,
 1,
 1,
 1,
 15,
 1,
 30,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 8,
 6,
 1,
 1,
 37,
 1,
 1,
 1,
 1,
 256,
 1,
 1,
 24,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 37,
 1,
 40,
 1,
 16,
 1,
 1,
 2,
 1,
 1,
 4,
 33,
 1,
 16,
 1,
 1,
 2,
 1,
 1,
 3,
 1,
 1,
 1,
 8,
 1,
 7,
 256,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 256,
 1,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 91,
 1,
 2,
 1,
 1,
 1,
 28,
 11,
 1,
 1,
 1,
 10,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 20,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 38,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 1,
 3,
 1,
 1,
 1,
 49,
 1,
 9,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 8,
 7,
 1,
 1,
 6,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 20,
 140,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 124,
 1,
 10,
 1,
 1,
 1,
 1,
 1,
 22,
 1,
 1,
 1,
 2,
 2,
 7,
 69,
 1,
 39,
 1,
 1,
 1,
 1,
 1,
 9,
 1,
 19,
 1,
 1,
 1,
 1,
 1,
 18,
 1,
 1,
 1,
 1,
 1,
 21,
 2,
 1,
 1,
 3,
 6,
 85,
 1,
 21,
 1,
 20,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 8,
 1,
 37,
 1,
 1,
 50,
 1,
 1,
 179,
 1,
 5,
 1,
 1,
 1,
 2,
 14,
 7,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 10,
 1,
 18,
 1,
 1,
 2,
 1,
 11,
 94,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 4,
 1,
 1,
 2,
 1,
 47,
 7,
 1,
 1,
 1,
 1,
 1,
 2,
 17,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 48,
 1,
 1,
 1,
 41,
 1,
 98,
 1,
 14,
 1,
 1,
 1,
 91,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 55,
 1,
 2,
 1,
 8,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 16,
 3,
 1,
 179,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 5,
 1,
 1,
 179,
 1,
 1,
 1,
 1,
 33,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 25,
 1,
 2,
 1,
 1,
 15,
 1,
 1,
 1,
 1,
 10,
 1,
 264,
 37,
 1,
 179,
 1,
 1,
 1,
 1,
 1,
 49,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 7,
 1,
 1,
 1,
 1,
 1,
 1,
 32,
 1,
 1,
 1,
 1,
 8,
 1,
 6,
 1,
 1,
 28,
 3,
 1,
 1,
 1,
 30,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 7,
 1,
 2,
 14,
 1,
 1,
 193,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 5,
 1,
 1,
 21,
 1,
 ...]

In [196]:
AZ_bus['chains'] = chains

In [197]:
AZ_bus

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,chains
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None,1
1,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1
2,Y6iyemLX_oylRpnr38vgMA,Vita Bella Fine Day Spa,5940 W Union Hills Dr,Glendale,AZ,85308,33.654815,-112.188568,5.0,8,0,"{'RestaurantsPriceRange2': '2', 'ByAppointment...","Nail Salons, Beauty & Spas, Day Spas","{'Tuesday': '12:0-18:0', 'Wednesday': '10:0-18...",1
3,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,3.0,18,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Breakfast & Brunch, Mexican, Taco...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",110
4,giC3pVVFxCRR89rApqklyw,Knot Salon,"4848 E Cactus Rd, Ste 100",Scottsdale,AZ,85254,33.600071,-111.977371,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Hair Stylists, Beauty & Spas, Hair Salons, Men...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56681,ABjONdA5Fw8XBOM65tmW4w,Phend Plumbing & Rooter,343 N Gilbert Rd,Gilbert,AZ,85234,33.356540,-111.789367,5.0,47,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Plumbing, Water Heater Installation/Repair, Pr...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:30',...",1
56682,ZidLd2a1uJCMfIhLylX5ww,Team Canine,,Phoenix,AZ,85076,33.347160,-111.975380,4.5,19,1,None,"Pet Training, Professional Services, Pet Servi...","{'Monday': '8:0-19:30', 'Tuesday': '8:0-19:30'...",1
56683,jJoPLIhCjkGXy59I4Jl6zw,JW Marriott Phoenix Desert Ridge Resort & Spa,5350 E Marriott Dr,Phoenix,AZ,85054,33.683910,-111.966235,4.0,441,1,"{'BusinessAcceptsBitcoin': 'False', 'GoodForKi...","Golf, Hotels, Day Spas, Hotels & Travel, Event...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1
56684,MiEyUDKTjeci5TMfxVZPpg,Phoenix Pavers,21230 N 22nd St,Phoenix,AZ,85024,33.679992,-112.035569,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Contractors, Landscaping, Mason...","{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ...",1
56685,zNMupayB2jEHVDOji8sxoQ,Beasley's Barber Shop,4406 E Main St,Mesa,AZ,85205,33.416137,-111.735743,4.5,15,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Barbers","{'Tuesday': '8:30-17:30', 'Wednesday': '8:30-1...",1

# BUSINESS AGE
- open: diff b/w today and first review
- closed: diff b/w last review and first review

In [214]:
# start = AZ_rev.loc[AZ_rev.groupby('business_id')['date'].idxmin()]

In [219]:
start = AZ_rev.groupby('business_id',as_index=False)['date'].min()

In [220]:
end = AZ_rev.groupby('business_id',as_index=False)['date'].max()

In [222]:
start

                  business_id                date
0      --8LPVSo5i0Oo61X01sV9A 2014-05-15 17:07:54
1      --9QQLMTbFzLJ_oT-ON3Xw 2013-05-15 09:20:14
2      --FLdgM0GNpXVMn74ppCGw 2012-08-09 20:44:49
3      --KQsXc-clkO7oHRqGzSzg 2009-10-27 04:08:12
4      --Rsj71PBe31h5YljVseKA 2011-12-13 07:02:46
...                       ...                 ...
56679  zzsU528uoRB6qZUGhKDa6w 2007-09-21 05:58:58
56680  zzt8omL4h_tdLYpY_rlZ4w 2015-08-29 04:13:39
56681  zzuOCWxuY39YJ1wnTwQ0Lg 2016-05-25 23:00:07
56682  zzwaS0xn1MVEPEf0hNLjew 2007-11-28 23:15:10
56683  zzwicjPC9g246MK2M1ZFBA 2012-09-24 07:09:17

[56684 rows x 2 columns]

In [244]:
mx = []
mn = []
for i in list(range(0,len(AZ_bus))):
    if not start[start['business_id']==AZ_bus.iloc[i]['business_id']]['date'].empty:
        mn.append(start[start['business_id']==AZ_bus.iloc[i]['business_id']]['date'].values[0])
    else:
        mn.append(0)
    if not end[end['business_id']==AZ_bus.iloc[i]['business_id']]['date'].empty:
        mx.append(end[end['business_id']==AZ_bus.iloc[i]['business_id']]['date'].values[0])
    else:
        mx.append(0)
#     if not start[start['business_id']==AZ_bus.iloc[i]['business_id']]['date'].empty:
#         mn.append(start[start['business_id']==AZ_bus.iloc[i]['business_id']]['date'].values[0]
#     else: 
#         mn.append(0)
#     if not end[end['business_id']==AZ_bus.iloc[i]['business_id']]['date'].empty:
#         mx.append(end[end['business_id']==AZ_bus.iloc[i]['business_id']]['date'].values[0])
#     else:
#         mx.append(0)

In [245]:
mx

[numpy.datetime64('2016-05-19T00:50:17.000000000'),
 numpy.datetime64('2018-04-11T15:38:39.000000000'),
 numpy.datetime64('2014-10-01T22:13:35.000000000'),
 numpy.datetime64('2018-11-07T23:52:00.000000000'),
 numpy.datetime64('2018-06-13T09:14:02.000000000'),
 numpy.datetime64('2018-04-09T22:58:38.000000000'),
 numpy.datetime64('2014-02-03T23:13:48.000000000'),
 numpy.datetime64('2018-10-19T04:12:32.000000000'),
 numpy.datetime64('2018-08-22T17:32:41.000000000'),
 numpy.datetime64('2016-03-04T18:55:41.000000000'),
 numpy.datetime64('2017-12-08T01:21:32.000000000'),
 numpy.datetime64('2017-07-20T19:07:56.000000000'),
 numpy.datetime64('2018-10-07T17:37:26.000000000'),
 numpy.datetime64('2018-11-12T20:13:13.000000000'),
 numpy.datetime64('2018-09-20T04:23:19.000000000'),
 numpy.datetime64('2016-05-06T01:55:10.000000000'),
 numpy.datetime64('2016-04-09T16:31:42.000000000'),
 numpy.datetime64('2018-09-25T23:29:16.000000000'),
 numpy.datetime64('2018-10-27T18:45:15.000000000'),
 numpy.datetime64('2017-04-24T19:28:56.000000000'),
 numpy.datetime64('2018-09-21T00:59:14.000000000'),
 numpy.datetime64('2018-10-14T02:14:28.000000000'),
 numpy.datetime64('2018-11-07T17:10:54.000000000'),
 numpy.datetime64('2010-10-11T19:04:08.000000000'),
 numpy.datetime64('2018-08-03T22:40:59.000000000'),
 numpy.datetime64('2018-09-18T17:50:58.000000000'),
 numpy.datetime64('2018-07-20T04:29:56.000000000'),
 numpy.datetime64('2018-10-25T15:44:01.000000000'),
 numpy.datetime64('2018-06-25T01:07:02.000000000'),
 numpy.datetime64('2018-10-27T22:29:56.000000000'),
 numpy.datetime64('2013-06-13T04:33:20.000000000'),
 numpy.datetime64('2018-03-15T22:49:11.000000000'),
 numpy.datetime64('2018-10-20T06:04:06.000000000'),
 numpy.datetime64('2018-08-02T14:37:00.000000000'),
 numpy.datetime64('2018-09-23T23:16:28.000000000'),
 numpy.datetime64('2018-11-06T00:55:24.000000000'),
 numpy.datetime64('2016-04-18T06:53:03.000000000'),
 numpy.datetime64('2017-04-06T03:53:45.000000000'),
 numpy.datetime64('2018-08-08T23:03:35.000000000'),
 numpy.datetime64('2018-09-27T03:10:34.000000000'),
 numpy.datetime64('2015-01-24T06:02:51.000000000'),
 numpy.datetime64('2018-07-31T01:47:50.000000000'),
 numpy.datetime64('2018-08-08T03:48:47.000000000'),
 numpy.datetime64('2018-11-09T18:07:42.000000000'),
 numpy.datetime64('2017-10-13T00:18:05.000000000'),
 numpy.datetime64('2018-04-19T10:42:49.000000000'),
 numpy.datetime64('2017-08-03T21:54:53.000000000'),
 numpy.datetime64('2018-05-16T22:28:49.000000000'),
 numpy.datetime64('2018-06-24T01:42:58.000000000'),
 numpy.datetime64('2018-10-31T18:44:01.000000000'),
 numpy.datetime64('2018-06-26T18:26:06.000000000'),
 numpy.datetime64('2018-11-09T19:57:34.000000000'),
 numpy.datetime64('2012-01-29T01:45:21.000000000'),
 numpy.datetime64('2018-10-25T13:16:28.000000000'),
 numpy.datetime64('2015-09-16T23:05:00.000000000'),
 numpy.datetime64('2017-11-15T21:55:57.000000000'),
 numpy.datetime64('2018-08-04T22:23:12.000000000'),
 numpy.datetime64('2018-10-03T00:56:27.000000000'),
 numpy.datetime64('2016-05-15T00:27:18.000000000'),
 numpy.datetime64('2015-02-10T16:35:30.000000000'),
 numpy.datetime64('2018-10-22T23:03:17.000000000'),
 numpy.datetime64('2015-11-02T02:10:40.000000000'),
 numpy.datetime64('2018-11-11T18:39:40.000000000'),
 numpy.datetime64('2018-09-28T03:47:42.000000000'),
 numpy.datetime64('2018-02-28T21:06:50.000000000'),
 numpy.datetime64('2018-08-28T09:03:48.000000000'),
 numpy.datetime64('2018-06-18T21:35:26.000000000'),
 numpy.datetime64('2018-04-30T19:50:14.000000000'),
 numpy.datetime64('2018-08-04T17:05:38.000000000'),
 numpy.datetime64('2018-10-04T17:29:14.000000000'),
 numpy.datetime64('2018-11-14T15:27:35.000000000'),
 numpy.datetime64('2018-09-18T14:56:13.000000000'),
 numpy.datetime64('2018-06-08T19:33:19.000000000'),
 numpy.datetime64('2018-11-08T17:32:06.000000000'),
 numpy.datetime64('2018-10-23T01:03:43.000000000'),
 numpy.datetime64('2017-05-08T06:20:41.000000000'),
 numpy.datetime64('2016-01-23T02:07:47.000000000'),
 numpy.datetime64('2018-08-20T03:08:47.000000000'),
 numpy.datetime64('2018-05-09T14:04:11.000000000'),
 numpy.datetime64('2017-09-10T03:34:45.000000000'),
 numpy.datetime64('2018-10-18T14:35:16.000000000'),
 numpy.datetime64('2018-07-22T01:25:31.000000000'),
 numpy.datetime64('2018-01-19T15:50:11.000000000'),
 numpy.datetime64('2018-04-30T00:05:09.000000000'),
 numpy.datetime64('2018-10-20T07:36:03.000000000'),
 numpy.datetime64('2018-11-07T19:30:21.000000000'),
 numpy.datetime64('2017-12-05T19:51:20.000000000'),
 numpy.datetime64('2017-03-25T19:16:31.000000000'),
 numpy.datetime64('2018-08-01T18:30:34.000000000'),
 numpy.datetime64('2018-08-21T20:09:33.000000000'),
 numpy.datetime64('2018-11-02T14:47:21.000000000'),
 numpy.datetime64('2018-08-08T15:24:27.000000000'),
 numpy.datetime64('2013-10-21T14:17:07.000000000'),
 numpy.datetime64('2018-07-13T22:17:28.000000000'),
 numpy.datetime64('2018-11-11T20:37:52.000000000'),
 numpy.datetime64('2018-10-08T19:34:40.000000000'),
 numpy.datetime64('2015-09-24T22:22:21.000000000'),
 numpy.datetime64('2018-10-29T17:14:52.000000000'),
 numpy.datetime64('2014-08-27T19:49:19.000000000'),
 numpy.datetime64('2018-11-10T01:48:19.000000000'),
 numpy.datetime64('2013-01-03T02:40:17.000000000'),
 numpy.datetime64('2014-10-17T10:40:19.000000000'),
 numpy.datetime64('2018-10-25T22:07:30.000000000'),
 numpy.datetime64('2018-08-18T13:45:25.000000000'),
 numpy.datetime64('2018-11-09T18:11:50.000000000'),
 numpy.datetime64('2018-10-15T01:51:39.000000000'),
 numpy.datetime64('2017-02-08T21:28:53.000000000'),
 numpy.datetime64('2018-03-19T16:09:35.000000000'),
 numpy.datetime64('2015-06-21T03:54:18.000000000'),
 numpy.datetime64('2018-10-13T19:50:39.000000000'),
 numpy.datetime64('2016-01-25T01:04:41.000000000'),
 numpy.datetime64('2017-06-25T16:20:01.000000000'),
 numpy.datetime64('2018-11-06T03:27:44.000000000'),
 numpy.datetime64('2017-08-31T09:54:09.000000000'),
 numpy.datetime64('2018-11-03T14:19:38.000000000'),
 numpy.datetime64('2018-09-27T19:18:18.000000000'),
 numpy.datetime64('2012-07-10T06:53:24.000000000'),
 numpy.datetime64('2017-12-15T03:28:17.000000000'),
 numpy.datetime64('2018-07-14T04:23:51.000000000'),
 numpy.datetime64('2016-09-01T23:37:32.000000000'),
 numpy.datetime64('2018-04-30T23:00:57.000000000'),
 numpy.datetime64('2018-10-22T15:44:50.000000000'),
 numpy.datetime64('2018-11-14T02:00:03.000000000'),
 numpy.datetime64('2018-10-31T22:16:21.000000000'),
 numpy.datetime64('2018-07-27T18:30:31.000000000'),
 numpy.datetime64('2017-11-06T03:55:45.000000000'),
 numpy.datetime64('2018-08-01T02:12:36.000000000'),
 numpy.datetime64('2017-09-13T01:57:27.000000000'),
 numpy.datetime64('2018-05-05T16:38:11.000000000'),
 numpy.datetime64('2015-02-18T16:02:07.000000000'),
 numpy.datetime64('2018-08-24T17:53:06.000000000'),
 numpy.datetime64('2009-10-27T20:24:27.000000000'),
 numpy.datetime64('2017-05-02T07:07:50.000000000'),
 numpy.datetime64('2015-07-16T01:00:52.000000000'),
 numpy.datetime64('2018-10-18T16:23:36.000000000'),
 numpy.datetime64('2018-11-05T22:05:51.000000000'),
 numpy.datetime64('2018-04-03T22:23:57.000000000'),
 numpy.datetime64('2018-11-07T23:02:31.000000000'),
 numpy.datetime64('2018-11-10T04:55:44.000000000'),
 numpy.datetime64('2018-11-05T23:09:23.000000000'),
 numpy.datetime64('2017-08-18T04:46:13.000000000'),
 numpy.datetime64('2015-08-05T05:57:50.000000000'),
 numpy.datetime64('2018-10-31T22:22:46.000000000'),
 numpy.datetime64('2011-11-28T20:13:25.000000000'),
 numpy.datetime64('2018-09-24T22:52:01.000000000'),
 numpy.datetime64('2018-09-20T21:49:41.000000000'),
 numpy.datetime64('2018-11-08T16:55:01.000000000'),
 numpy.datetime64('2018-06-25T20:58:46.000000000'),
 numpy.datetime64('2016-07-08T20:59:17.000000000'),
 numpy.datetime64('2016-04-05T09:59:07.000000000'),
 numpy.datetime64('2018-09-05T11:21:11.000000000'),
 numpy.datetime64('2018-10-08T12:31:33.000000000'),
 numpy.datetime64('2010-12-02T21:47:44.000000000'),
 numpy.datetime64('2018-11-05T17:04:27.000000000'),
 numpy.datetime64('2018-11-07T03:22:16.000000000'),
 numpy.datetime64('2018-10-07T19:10:04.000000000'),
 numpy.datetime64('2015-09-24T02:43:22.000000000'),
 numpy.datetime64('2018-04-24T02:29:19.000000000'),
 numpy.datetime64('2017-10-23T16:51:16.000000000'),
 numpy.datetime64('2018-08-19T19:59:44.000000000'),
 numpy.datetime64('2018-07-24T20:58:53.000000000'),
 numpy.datetime64('2018-04-04T16:24:20.000000000'),
 numpy.datetime64('2018-11-07T05:03:07.000000000'),
 numpy.datetime64('2017-12-05T20:25:37.000000000'),
 numpy.datetime64('2018-01-05T18:32:58.000000000'),
 numpy.datetime64('2018-07-28T16:28:22.000000000'),
 numpy.datetime64('2018-04-11T13:09:26.000000000'),
 numpy.datetime64('2018-09-17T15:02:07.000000000'),
 numpy.datetime64('2010-12-04T08:08:34.000000000'),
 numpy.datetime64('2010-06-22T22:41:22.000000000'),
 numpy.datetime64('2018-10-31T03:49:14.000000000'),
 numpy.datetime64('2018-04-26T18:51:45.000000000'),
 numpy.datetime64('2018-11-09T19:32:18.000000000'),
 numpy.datetime64('2018-07-06T23:40:40.000000000'),
 numpy.datetime64('2018-08-07T02:44:23.000000000'),
 numpy.datetime64('2018-06-21T16:43:48.000000000'),
 numpy.datetime64('2018-03-05T22:16:13.000000000'),
 numpy.datetime64('2018-11-04T21:09:47.000000000'),
 numpy.datetime64('2016-07-15T19:08:03.000000000'),
 numpy.datetime64('2018-11-08T18:04:49.000000000'),
 numpy.datetime64('2018-11-09T21:40:46.000000000'),
 numpy.datetime64('2018-06-11T19:43:38.000000000'),
 numpy.datetime64('2018-10-17T16:25:00.000000000'),
 numpy.datetime64('2012-01-02T02:58:38.000000000'),
 numpy.datetime64('2014-07-27T06:34:16.000000000'),
 numpy.datetime64('2018-04-26T22:20:26.000000000'),
 numpy.datetime64('2018-07-16T20:05:46.000000000'),
 numpy.datetime64('2018-09-28T01:11:10.000000000'),
 numpy.datetime64('2015-05-05T01:30:06.000000000'),
 numpy.datetime64('2018-10-25T05:07:51.000000000'),
 numpy.datetime64('2017-09-26T19:13:30.000000000'),
 numpy.datetime64('2013-09-12T00:57:16.000000000'),
 numpy.datetime64('2018-06-13T05:38:10.000000000'),
 numpy.datetime64('2018-06-02T07:42:03.000000000'),
 numpy.datetime64('2018-11-10T15:56:10.000000000'),
 numpy.datetime64('2018-09-10T22:10:04.000000000'),
 numpy.datetime64('2018-11-10T04:41:44.000000000'),
 numpy.datetime64('2018-09-06T03:59:00.000000000'),
 numpy.datetime64('2014-03-27T17:06:42.000000000'),
 numpy.datetime64('2016-04-15T04:44:52.000000000'),
 numpy.datetime64('2018-11-12T16:31:46.000000000'),
 numpy.datetime64('2018-01-10T03:14:21.000000000'),
 numpy.datetime64('2018-11-13T21:53:29.000000000'),
 numpy.datetime64('2017-12-14T04:22:44.000000000'),
 numpy.datetime64('2018-09-09T16:01:16.000000000'),
 numpy.datetime64('2018-10-22T20:35:08.000000000'),
 numpy.datetime64('2018-07-26T22:49:48.000000000'),
 numpy.datetime64('2018-11-11T19:37:38.000000000'),
 numpy.datetime64('2018-06-15T07:35:14.000000000'),
 numpy.datetime64('2018-11-10T03:02:46.000000000'),
 numpy.datetime64('2018-08-05T19:57:12.000000000'),
 numpy.datetime64('2017-08-04T04:51:39.000000000'),
 numpy.datetime64('2018-07-13T15:59:13.000000000'),
 numpy.datetime64('2018-10-30T22:47:49.000000000'),
 numpy.datetime64('2014-06-26T21:40:11.000000000'),
 numpy.datetime64('2018-09-29T16:21:36.000000000'),
 numpy.datetime64('2017-08-08T19:17:15.000000000'),
 numpy.datetime64('2018-10-01T00:48:36.000000000'),
 numpy.datetime64('2018-11-13T15:04:14.000000000'),
 numpy.datetime64('2011-01-16T22:59:31.000000000'),
 numpy.datetime64('2017-12-04T04:13:46.000000000'),
 numpy.datetime64('2018-09-02T10:10:24.000000000'),
 numpy.datetime64('2018-03-22T17:57:21.000000000'),
 numpy.datetime64('2012-12-20T18:03:00.000000000'),
 numpy.datetime64('2018-03-02T03:29:59.000000000'),
 numpy.datetime64('2018-11-08T17:21:04.000000000'),
 numpy.datetime64('2018-08-22T22:26:22.000000000'),
 numpy.datetime64('2018-07-07T20:54:51.000000000'),
 numpy.datetime64('2018-08-30T22:20:11.000000000'),
 numpy.datetime64('2018-07-24T02:32:34.000000000'),
 numpy.datetime64('2018-10-07T02:32:42.000000000'),
 numpy.datetime64('2018-11-06T17:43:57.000000000'),
 numpy.datetime64('2018-05-23T16:57:36.000000000'),
 numpy.datetime64('2018-08-07T01:21:08.000000000'),
 numpy.datetime64('2018-07-21T20:53:33.000000000'),
 numpy.datetime64('2016-02-12T02:44:17.000000000'),
 numpy.datetime64('2018-10-31T15:07:46.000000000'),
 numpy.datetime64('2018-09-24T18:14:29.000000000'),
 numpy.datetime64('2014-10-20T17:11:46.000000000'),
 numpy.datetime64('2017-07-26T20:47:52.000000000'),
 numpy.datetime64('2018-08-13T20:17:20.000000000'),
 numpy.datetime64('2018-01-04T20:30:55.000000000'),
 numpy.datetime64('2018-11-11T17:34:47.000000000'),
 numpy.datetime64('2018-08-24T22:19:11.000000000'),
 numpy.datetime64('2018-09-08T22:14:14.000000000'),
 numpy.datetime64('2018-09-03T21:35:01.000000000'),
 numpy.datetime64('2015-05-19T19:26:22.000000000'),
 numpy.datetime64('2018-09-17T03:43:45.000000000'),
 numpy.datetime64('2018-11-12T00:10:44.000000000'),
 numpy.datetime64('2010-01-24T15:14:49.000000000'),
 numpy.datetime64('2017-12-29T02:06:00.000000000'),
 numpy.datetime64('2015-12-28T15:09:33.000000000'),
 numpy.datetime64('2018-10-22T21:14:03.000000000'),
 numpy.datetime64('2018-11-02T22:15:48.000000000'),
 numpy.datetime64('2018-10-17T05:20:48.000000000'),
 numpy.datetime64('2018-11-11T19:29:29.000000000'),
 numpy.datetime64('2018-03-26T20:33:17.000000000'),
 numpy.datetime64('2017-05-19T04:58:57.000000000'),
 numpy.datetime64('2018-05-10T13:52:43.000000000'),
 numpy.datetime64('2016-03-11T03:09:58.000000000'),
 numpy.datetime64('2018-08-23T05:12:35.000000000'),
 numpy.datetime64('2018-11-13T15:25:58.000000000'),
 numpy.datetime64('2018-02-17T18:02:25.000000000'),
 numpy.datetime64('2014-03-22T23:58:04.000000000'),
 numpy.datetime64('2018-09-23T00:09:22.000000000'),
 numpy.datetime64('2018-10-11T22:29:43.000000000'),
 numpy.datetime64('2018-11-02T03:55:33.000000000'),
 numpy.datetime64('2018-11-04T21:33:27.000000000'),
 numpy.datetime64('2018-09-25T22:11:02.000000000'),
 numpy.datetime64('2018-11-10T04:15:33.000000000'),
 numpy.datetime64('2017-04-27T15:51:05.000000000'),
 numpy.datetime64('2014-11-02T23:15:36.000000000'),
 numpy.datetime64('2018-11-14T17:23:34.000000000'),
 numpy.datetime64('2016-11-25T18:22:29.000000000'),
 numpy.datetime64('2018-09-20T10:37:31.000000000'),
 numpy.datetime64('2017-09-11T14:57:44.000000000'),
 numpy.datetime64('2018-11-13T01:53:17.000000000'),
 numpy.datetime64('2018-10-23T18:19:46.000000000'),
 numpy.datetime64('2018-01-13T17:11:37.000000000'),
 numpy.datetime64('2018-08-28T16:53:17.000000000'),
 numpy.datetime64('2018-11-08T23:02:51.000000000'),
 numpy.datetime64('2018-07-16T00:25:35.000000000'),
 numpy.datetime64('2016-07-06T21:59:36.000000000'),
 numpy.datetime64('2016-12-21T14:06:22.000000000'),
 numpy.datetime64('2018-11-09T02:15:39.000000000'),
 numpy.datetime64('2018-08-20T01:46:33.000000000'),
 numpy.datetime64('2016-04-17T06:06:11.000000000'),
 numpy.datetime64('2018-09-15T03:53:31.000000000'),
 numpy.datetime64('2018-11-10T20:29:20.000000000'),
 numpy.datetime64('2018-10-05T04:28:34.000000000'),
 numpy.datetime64('2017-10-29T19:56:59.000000000'),
 numpy.datetime64('2018-06-10T04:41:20.000000000'),
 numpy.datetime64('2018-09-23T13:29:22.000000000'),
 numpy.datetime64('2018-10-08T21:43:53.000000000'),
 numpy.datetime64('2016-01-25T21:12:11.000000000'),
 numpy.datetime64('2018-09-16T03:14:37.000000000'),
 numpy.datetime64('2018-11-10T20:48:19.000000000'),
 numpy.datetime64('2012-07-07T05:14:00.000000000'),
 numpy.datetime64('2018-09-18T05:03:29.000000000'),
 numpy.datetime64('2018-05-28T13:00:29.000000000'),
 numpy.datetime64('2015-07-22T12:27:44.000000000'),
 numpy.datetime64('2018-10-10T19:30:57.000000000'),
 numpy.datetime64('2017-11-14T00:27:42.000000000'),
 numpy.datetime64('2018-10-16T23:15:33.000000000'),
 numpy.datetime64('2018-08-16T02:23:43.000000000'),
 numpy.datetime64('2018-11-10T00:05:44.000000000'),
 numpy.datetime64('2018-07-25T04:45:46.000000000'),
 numpy.datetime64('2018-08-02T20:39:56.000000000'),
 numpy.datetime64('2018-10-30T15:19:30.000000000'),
 numpy.datetime64('2018-07-20T04:30:04.000000000'),
 numpy.datetime64('2018-04-13T07:33:17.000000000'),
 numpy.datetime64('2018-11-08T05:59:08.000000000'),
 numpy.datetime64('2018-05-30T21:04:00.000000000'),
 numpy.datetime64('2017-04-01T02:46:09.000000000'),
 numpy.datetime64('2018-08-27T23:06:55.000000000'),
 numpy.datetime64('2018-08-12T18:30:38.000000000'),
 numpy.datetime64('2017-08-26T02:00:30.000000000'),
 numpy.datetime64('2018-10-10T02:57:30.000000000'),
 numpy.datetime64('2018-07-31T06:19:49.000000000'),
 numpy.datetime64('2010-04-17T21:38:57.000000000'),
 numpy.datetime64('2018-11-03T01:15:51.000000000'),
 numpy.datetime64('2018-04-20T23:02:21.000000000'),
 numpy.datetime64('2018-07-31T21:08:47.000000000'),
 numpy.datetime64('2017-11-12T09:20:17.000000000'),
 numpy.datetime64('2012-03-01T23:51:20.000000000'),
 numpy.datetime64('2018-10-20T01:22:42.000000000'),
 numpy.datetime64('2018-10-10T16:41:52.000000000'),
 numpy.datetime64('2018-11-03T19:19:17.000000000'),
 numpy.datetime64('2018-07-14T06:32:51.000000000'),
 numpy.datetime64('2014-09-16T22:04:01.000000000'),
 numpy.datetime64('2018-04-06T17:19:38.000000000'),
 numpy.datetime64('2017-07-20T00:47:35.000000000'),
 numpy.datetime64('2018-04-24T03:18:59.000000000'),
 numpy.datetime64('2018-09-30T15:54:26.000000000'),
 numpy.datetime64('2017-08-25T23:58:50.000000000'),
 numpy.datetime64('2018-11-13T02:36:41.000000000'),
 numpy.datetime64('2018-04-04T05:57:38.000000000'),
 numpy.datetime64('2018-07-23T23:45:34.000000000'),
 numpy.datetime64('2018-07-04T22:44:17.000000000'),
 numpy.datetime64('2018-08-02T01:02:10.000000000'),
 numpy.datetime64('2018-11-04T00:05:27.000000000'),
 numpy.datetime64('2018-11-12T19:35:01.000000000'),
 numpy.datetime64('2014-01-15T18:03:45.000000000'),
 numpy.datetime64('2018-10-29T22:53:06.000000000'),
 numpy.datetime64('2017-06-30T18:42:41.000000000'),
 numpy.datetime64('2017-08-04T00:34:57.000000000'),
 numpy.datetime64('2018-08-04T05:00:59.000000000'),
 numpy.datetime64('2018-10-23T22:51:09.000000000'),
 numpy.datetime64('2018-06-29T17:00:15.000000000'),
 numpy.datetime64('2013-12-21T01:01:56.000000000'),
 numpy.datetime64('2018-08-06T16:32:17.000000000'),
 numpy.datetime64('2015-07-09T07:14:42.000000000'),
 numpy.datetime64('2016-11-22T14:16:31.000000000'),
 numpy.datetime64('2015-01-12T02:22:21.000000000'),
 numpy.datetime64('2018-10-14T22:34:40.000000000'),
 numpy.datetime64('2018-07-23T03:28:00.000000000'),
 numpy.datetime64('2011-10-01T18:51:54.000000000'),
 numpy.datetime64('2018-11-12T00:41:25.000000000'),
 numpy.datetime64('2018-11-13T18:27:20.000000000'),
 numpy.datetime64('2014-01-16T21:36:58.000000000'),
 numpy.datetime64('2018-09-14T17:35:47.000000000'),
 numpy.datetime64('2010-12-30T23:31:14.000000000'),
 numpy.datetime64('2018-10-10T20:19:09.000000000'),
 numpy.datetime64('2018-09-29T14:46:47.000000000'),
 numpy.datetime64('2018-02-06T19:30:06.000000000'),
 numpy.datetime64('2017-05-23T03:04:46.000000000'),
 numpy.datetime64('2018-10-24T15:41:23.000000000'),
 numpy.datetime64('2018-05-22T05:55:24.000000000'),
 numpy.datetime64('2017-08-15T18:44:04.000000000'),
 numpy.datetime64('2018-11-04T02:02:14.000000000'),
 numpy.datetime64('2015-06-10T20:57:13.000000000'),
 numpy.datetime64('2018-04-06T05:38:20.000000000'),
 numpy.datetime64('2018-08-06T10:34:20.000000000'),
 numpy.datetime64('2018-11-09T20:18:04.000000000'),
 numpy.datetime64('2017-03-26T19:55:43.000000000'),
 numpy.datetime64('2018-08-29T17:43:48.000000000'),
 numpy.datetime64('2018-08-29T22:46:03.000000000'),
 numpy.datetime64('2018-10-02T18:02:15.000000000'),
 numpy.datetime64('2017-08-06T15:46:36.000000000'),
 numpy.datetime64('2016-08-29T01:39:58.000000000'),
 numpy.datetime64('2018-10-26T19:40:52.000000000'),
 numpy.datetime64('2017-03-29T19:09:09.000000000'),
 numpy.datetime64('2018-11-07T17:42:36.000000000'),
 numpy.datetime64('2018-11-14T14:47:13.000000000'),

In [246]:
AZ_bus['start_date'] = mn
AZ_bus['end_date'] = mx

In [204]:
AZ_rev.date = start['date'].astype(np.int64) // 10**9

In [251]:
AZ_bus_temp = AZ_bus.copy() # just in case

In [253]:
AZ_bus['start_date'] = AZ_bus['start_date'].astype(np.int64) // 10**9
AZ_bus['end_date'] = AZ_bus['end_date'].astype(np.int64) // 10**9

In [255]:
span = []
today = 1542219206 # most recent review in dataset
for i in list(range(0,len(AZ_bus))):
    if AZ_bus.iloc[i]['is_open'] == 1:
        span.append(today-AZ_bus.iloc[i]['start_date'])
    else:
        span.append(AZ_bus.iloc[i]['end_date']-AZ_bus.iloc[i]['start_date'])

In [262]:
AZ_bus['time_open'] = span

In [266]:
# AZ_bus.to_json(r'AZ_business_with_times.json',orient='records')

In [267]:
AZ_bus

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,chains,start_date,end_date,time_open
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None,1,1427415698,1463619017,36203319
1,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,1357063598,1523461119,185155608
2,Y6iyemLX_oylRpnr38vgMA,Vita Bella Fine Day Spa,5940 W Union Hills Dr,Glendale,AZ,85308,33.654815,-112.188568,5.0,8,0,"{'RestaurantsPriceRange2': '2', 'ByAppointment...","Nail Salons, Beauty & Spas, Day Spas","{'Tuesday': '12:0-18:0', 'Wednesday': '10:0-18...",1,1265924818,1412201615,146276797
3,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,3.0,18,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Breakfast & Brunch, Mexican, Taco...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",110,1222047403,1541634720,320171803
4,giC3pVVFxCRR89rApqklyw,Knot Salon,"4848 E Cactus Rd, Ste 100",Scottsdale,AZ,85254,33.600071,-111.977371,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Hair Stylists, Beauty & Spas, Hair Salons, Men...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,1510248758,1528881242,31970448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56681,ABjONdA5Fw8XBOM65tmW4w,Phend Plumbing & Rooter,343 N Gilbert Rd,Gilbert,AZ,85234,33.356540,-111.789367,5.0,47,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Plumbing, Water Heater Installation/Repair, Pr...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:30',...",1,1395894528,1542132140,146324678
56682,ZidLd2a1uJCMfIhLylX5ww,Team Canine,,Phoenix,AZ,85076,33.347160,-111.975380,4.5,19,1,None,"Pet Training, Professional Services, Pet Servi...","{'Monday': '8:0-19:30', 'Tuesday': '8:0-19:30'...",1,1219805477,1523299019,322413729
56683,jJoPLIhCjkGXy59I4Jl6zw,JW Marriott Phoenix Desert Ridge Resort & Spa,5350 E Marriott Dr,Phoenix,AZ,85054,33.683910,-111.966235,4.0,441,1,"{'BusinessAcceptsBitcoin': 'False', 'GoodForKi...","Golf, Hotels, Day Spas, Hotels & Travel, Event...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,1139952814,1540936381,402266392
56684,MiEyUDKTjeci5TMfxVZPpg,Phoenix Pavers,21230 N 22nd St,Phoenix,AZ,85024,33.679992,-112.035569,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Contractors, Landscaping, Mason...","{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ...",1,1264042522,1538841778,278176684
56685,zNMupayB2jEHVDOji8sxoQ,Beasley's Barber Shop,4406 E Main St,Mesa,AZ,85205,33.416137,-111.735743,4.5,15,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Barbers","{'Tuesday': '8:30-17:30', 'Wednesday': '8:30-1...",1,1313175410,1535037358,229043796

In [101]:
test2.date.max()

1542219206

Today: 1542219206

# REVIEWS PER WEEK

In [18]:
AZ_rev_per_wk = AZ_rev.copy()

In [19]:
AZ_rev_per_wk

,review_id,user_id,business_id,rating,useful,funny,cool,text,date
0,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
1,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38
2,8e9HxxLjjqc9ez5ezzN7iQ,d6xvYpyzcfbF_AZ8vMB7QA,zvO-PJCpNk4fgAVUnExYAA,1,3,1,1,This place has gone down hill. Clearly they h...,2010-10-05 19:12:35
3,-I5umRTkhw15RqpKMl_o1Q,-mA3-1mN4JIEkqOtdbNXCQ,mRUVMJkUGxrByzMQ2MuOpA,1,0,1,0,"Walked in around 4 on a Friday afternoon, we s...",2017-12-15 23:27:08
4,6BnQwlxRn7ZuWdzninM9sQ,JSrP-dUmLlwZiI7Dp3PQ2A,cHdJXLlKNWixBXpDwEGb_A,3,1,7,1,I love chinese food and I love mexican food. W...,2015-04-01 16:30:00
...,...,...,...,...,...,...,...,...,...
2082946,h4NWUfHZPKU5oJ3Qt2c0Rw,KYObsUPFgkOFUxKBUFNOTA,mFTSdfJOv4X5t8LeeY4nJw,5,0,0,0,"Great food aside, I really want to make a shou...",2018-11-10 20:50:44
2082947,nTy6Atxlhrykoz5bXroT0w,LRh7vAnTwvlO0yHP12rxRg,7qH4yhLwwDwIi9tsI8AtKQ,1,0,0,0,Parking is ok now that baseball is over. But t...,2018-11-02 23:48:41
2082948,bzQFrsMDtGIVOeXp5gbNeg,g5K5E9QrxObn6ZC1q8Mb9g,CRVtzesMuwHK-phmS_ojaA,4,0,0,0,Great for a quick stop for a pre-made slice of...,2012-03-29 23:35:45
2082949,0sf0k7p1b1krPfcbP62W5A,Ob6ToKjLna3WOZtrI_m0nw,t1P_vLIyJCIoEaUVcwHdTw,1,2,1,1,We've been here b4 with no major problems but ...,2013-09-21 18:14:30
2082950,jPCXuSBbI_cPocgoNBhdkg,V6BjjQICDO4q7TT3ZhaPWw,yA6dKNm_zl1ucZCnwW8ZCg,1,13,11,5,I think this owner and the owner of Amy's Baki...,2013-05-22 15:32:08

In [20]:
AZ_rev_per_wk['date'] = AZ_rev_per_wk['date'] - pd.to_timedelta(7, unit='d')
rev_per_wk = AZ_rev_per_wk.groupby(['business_id', pd.Grouper(key='date', freq='W-MON')]).count().reset_index().sort_values('date')

In [21]:
rev_per_wk

,business_id,date,review_id,user_id,rating,useful,funny,cool,text
1083626,iY_N3YhWL2_CUnBy41WK3w,2004-12-13,1,1,1,1,1,1,1
1087276,ikubvyZFO0kxhA56RETzIg,2004-12-20,1,1,1,1,1,1,1
667119,Rg4FHrDOD2DJeDY_khy-0w,2005-01-31,1,1,1,1,1,1,1
1375852,v9u0NgjA4iQeKGevFnYSCA,2005-03-07,1,1,1,1,1,1,1
1244848,pSQFynH1VxkfSmehRXlZWw,2005-03-07,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
314016,C9mrAke0xSBuglYJOK55Ag,2018-11-12,1,1,1,1,1,1,1
285454,Ax0kP-g5AMTZQlm3BH0H_Q,2018-11-12,1,1,1,1,1,1,1
1350439,u2Z7wvTpZJzQEhfFBS-06g,2018-11-12,1,1,1,1,1,1,1
1124710,kLgUNSjz0lsj0jaCWeYzoA,2018-11-12,1,1,1,1,1,1,1
326882,CkUfxpyPs816yljgM5nuKA,2018-11-12,1,1,1,1,1,1,1

In [16]:
AZ_bus[AZ_bus['business_id']=='iY_N3YhWL2_CUnBy41WK3w']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,chains,start_date,end_date,time_open
46427,iY_N3YhWL2_CUnBy41WK3w,"Holley M Heyert, DC","16042 N 32nd St, Ste B1B, Back Bay Chiropractic",Phoenix,AZ,85032,33.633438,-112.013643,5.0,25,1,"{'AcceptsInsurance': 'True', 'ByAppointmentOnl...","Pets, Horse Racing, Veterinarians, Active Life...","{'Monday': '11:0-17:30', 'Wednesday': '16:0-19...",1,1103512139,1515111770,438707067

In [12]:
def diff(start, end):
    x = end - start
    return int(math.ceil(x / np.timedelta64(1, 'W')))

In [22]:
diff("2013-06-10","2013-06-16")

1

In [23]:
def my_aggr(data):
    wks = len(data)
    revs = data['review_id'].astype(int).sum()
    return revs / wks

In [32]:
df_rpw = rev_per_wk.groupby('business_id', as_index=True).apply(my_aggr).reset_index().rename(columns={0: 'rpw'})

In [44]:
rpw = []
for i in list(range(0, len(AZ_bus))):
    if df_rpw[df_rpw['business_id']==AZ_bus.iloc[i]['business_id']]['rpw'].empty:
        rpw.append(0)
    else: 
        rpw.append(df_rpw[df_rpw['business_id']==AZ_bus.iloc[i]['business_id']]['rpw'].values[0])
#     if rpw.append(df_rpw[df_rpw['business_id']==AZ_bus.iloc[i]['business_id']]['rpw'].empty:
#         rpw.append(0)
#     else:
#         rpw.append(df_rpw[df_rpw['business_id']==AZ_bus.iloc[i]['business_id']]['rpw'].values[0])

In [47]:
AZ_bus.drop(columns=['reviews_per_week_v2'])

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,chains,start_date,end_date,time_open,reviews_per_week
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None,1,1427415698,1463619017,36203319,0.083333
1,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,1357063598,1523461119,185155608,0.009772
2,Y6iyemLX_oylRpnr38vgMA,Vita Bella Fine Day Spa,5940 W Union Hills Dr,Glendale,AZ,85308,33.654815,-112.188568,5.0,8,0,"{'RestaurantsPriceRange2': '2', 'ByAppointment...","Nail Salons, Beauty & Spas, Day Spas","{'Tuesday': '12:0-18:0', 'Wednesday': '10:0-18...",1,1265924818,1412201615,146276797,0.033058
3,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,3.0,18,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Breakfast & Brunch, Mexican, Taco...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",110,1222047403,1541634720,320171803,0.033962
4,giC3pVVFxCRR89rApqklyw,Knot Salon,"4848 E Cactus Rd, Ste 100",Scottsdale,AZ,85254,33.600071,-111.977371,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Hair Stylists, Beauty & Spas, Hair Salons, Men...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,1510248758,1528881242,31970448,0.094340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56681,ABjONdA5Fw8XBOM65tmW4w,Phend Plumbing & Rooter,343 N Gilbert Rd,Gilbert,AZ,85234,33.356540,-111.789367,5.0,47,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Plumbing, Water Heater Installation/Repair, Pr...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:30',...",1,1395894528,1542132140,146324678,0.194215
56682,ZidLd2a1uJCMfIhLylX5ww,Team Canine,,Phoenix,AZ,85076,33.347160,-111.975380,4.5,19,1,None,"Pet Training, Professional Services, Pet Servi...","{'Monday': '8:0-19:30', 'Tuesday': '8:0-19:30'...",1,1219805477,1523299019,322413729,0.035581
56683,jJoPLIhCjkGXy59I4Jl6zw,JW Marriott Phoenix Desert Ridge Resort & Spa,5350 E Marriott Dr,Phoenix,AZ,85054,33.683910,-111.966235,4.0,441,1,"{'BusinessAcceptsBitcoin': 'False', 'GoodForKi...","Golf, Hotels, Day Spas, Hotels & Travel, Event...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,1139952814,1540936381,402266392,0.662162
56684,MiEyUDKTjeci5TMfxVZPpg,Phoenix Pavers,21230 N 22nd St,Phoenix,AZ,85024,33.679992,-112.035569,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Contractors, Landscaping, Mason...","{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ...",1,1264042522,1538841778,278176684,0.030435
56685,zNMupayB2jEHVDOji8sxoQ,Beasley's Barber Shop,4406 E Main St,Mesa,AZ,85205,33.416137,-111.735743,4.5,15,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Barbers","{'Tuesday': '8:30-17:30', 'Wednesday': '8:30-1...",1,1313175410,1535037358,229043796,0.039578

In [48]:
AZ_bus['reviews_per_week_v2'] = rpw

In [50]:
AZ_bus.to_json(r'AZ_business_with_times_and_rpw.json',orient='records')

In [6]:
rev_per_wk = []
for i in list(range(0, len(AZ_bus))):
    wks = math.ceil(AZ_bus.iloc[i]['time_open'] / 604800)
    rpw = AZ_bus.iloc[i]['review_count'] / wks
    rev_per_wk.append(rpw)

In [7]:
AZ_bus['reviews_per_week'] = rev_per_wk

In [16]:
print(AZ_bus[AZ_bus['is_open']==1]['reviews_per_week'].mean())
print(AZ_bus[AZ_bus['is_open']==0]['reviews_per_week'].mean())

0.16888552343471
0.18651210132767387

In [35]:
AZ_bus

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,chains,start_date,end_date,time_open,reviews_per_week,reviews_per_week_v2
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None,1,1427415698,1463619017,36203319,0.083333,"2194 1.25 Name: rpw, dtype: float64"
1,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,1357063598,1523461119,185155608,0.009772,"54873 1.0 Name: rpw, dtype: float64"
2,Y6iyemLX_oylRpnr38vgMA,Vita Bella Fine Day Spa,5940 W Union Hills Dr,Glendale,AZ,85308,33.654815,-112.188568,5.0,8,0,"{'RestaurantsPriceRange2': '2', 'ByAppointment...","Nail Salons, Beauty & Spas, Day Spas","{'Tuesday': '12:0-18:0', 'Wednesday': '10:0-18...",1,1265924818,1412201615,146276797,0.033058,"31122 1.0 Name: rpw, dtype: float64"
3,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,3.0,18,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Breakfast & Brunch, Mexican, Taco...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",110,1222047403,1541634720,320171803,0.033962,"1980 1.0 Name: rpw, dtype: float64"
4,giC3pVVFxCRR89rApqklyw,Knot Salon,"4848 E Cactus Rd, Ste 100",Scottsdale,AZ,85254,33.600071,-111.977371,5.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Hair Stylists, Beauty & Spas, Hair Salons, Men...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,1510248758,1528881242,31970448,0.094340,"39760 1.0 Name: rpw, dtype: float64"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56681,ABjONdA5Fw8XBOM65tmW4w,Phend Plumbing & Rooter,343 N Gilbert Rd,Gilbert,AZ,85234,33.356540,-111.789367,5.0,47,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Plumbing, Water Heater Installation/Repair, Pr...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:30',...",1,1395894528,1542132140,146324678,0.194215,"9948 1.085106 Name: rpw, dtype: float64"
56682,ZidLd2a1uJCMfIhLylX5ww,Team Canine,,Phoenix,AZ,85076,33.347160,-111.975380,4.5,19,1,None,"Pet Training, Professional Services, Pet Servi...","{'Monday': '8:0-19:30', 'Tuesday': '8:0-19:30'...",1,1219805477,1523299019,322413729,0.035581,"32567 1.055556 Name: rpw, dtype: float64"
56683,jJoPLIhCjkGXy59I4Jl6zw,JW Marriott Phoenix Desert Ridge Resort & Spa,5350 E Marriott Dr,Phoenix,AZ,85054,33.683910,-111.966235,4.0,441,1,"{'BusinessAcceptsBitcoin': 'False', 'GoodForKi...","Golf, Hotels, Day Spas, Hotels & Travel, Event...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,1139952814,1540936381,402266392,0.662162,"42063 1.646209 Name: rpw, dtype: float64"
56684,MiEyUDKTjeci5TMfxVZPpg,Phoenix Pavers,21230 N 22nd St,Phoenix,AZ,85024,33.679992,-112.035569,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Contractors, Landscaping, Mason...","{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ...",1,1264042522,1538841778,278176684,0.030435,"21130 1.0 Name: rpw, dtype: float64"
56685,zNMupayB2jEHVDOji8sxoQ,Beasley's Barber Shop,4406 E Main St,Mesa,AZ,85205,33.416137,-111.735743,4.5,15,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Barbers","{'Tuesday': '8:30-17:30', 'Wednesday': '8:30-1...",1,1313175410,1535037358,229043796,0.039578,"56151 1.0 Name: rpw, dtype: float64"

# MODELS:
- .
- .
- .
- .
- .

In [3]:
AZ_bus = pd.read_json('AZ_business_with_times_and_rpw.json')

In [65]:
all_bus = AZ_bus.copy()

In [107]:
# for each business
targets = AZ_bus.iloc[:1000]['is_open'].to_numpy()
predictions = []
for i in list(range(0,1000)):
    # find all businesses within 1 mile that share at least one category
    features = np.stack(get_features(AZ_bus.iloc[i], 1))
    # use these businesses to build a model
    nb = KNeighborsClassifier(n_neighbors = len(features)).fit(features[:,:5], features[:,5].astype(int))
    # then predict the business
    predictions.append(nb.predict(AZ_bus.iloc[i][['stars','review_count','chains','time_open','reviews_per_week']].to_numpy().reshape(1,-1)))
    
print(accuracy_score(targets, predictions))
tn, fp, fn, tp = confusion_matrix(targets, predictions).ravel()
print(f'tn: {tn}, fn: {fn}, tp: {tp}, fp: {fp}')

0.82
tn: 1, fn: 5, tp: 819, fp: 175

In [108]:
print(np.sum(AZ_bus.iloc[:1000]['is_open'].to_numpy()))
print(np.sum(AZ_bus.iloc[:1000]['is_open'].to_numpy())/1000)

824
0.824

In [80]:
AZ_bus.iloc[2786]

business_id                                       2WOJKdKSeOOlkeqN6K7bYw
name                                                Trilogy At Vistancia
address                                                 30383 N 131st Dr
city                                                              Peoria
state                                                                 AZ
postal_code                                                        85383
latitude                                                         33.7243
longitude                                                       -112.344
stars                                                                3.5
review_count                                                           4
is_open                                                                1
attributes                        {'BusinessAcceptsCreditCards': 'True'}
categories                                    Contractors, Home Services
hours                  {'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ...
chains                                                                 1
start_date                                                    1436576938
end_date                                                      1536332847
time_open                                                      105642268
reviews_per_week                                               0.0228571
reviews_per_week_v2                                                    1
Name: 2786, dtype: object

In [92]:
print(get_features(AZ_bus.iloc[2786],1))

[array([1.5, 3, 7, 26604145, 0.06818181820000001, 1], dtype=object), array([5.0, 4, 1, 53804799, 0.044943820200000005, 1], dtype=object), array([4.5, 12, 1, 162781598, 0.044444444400000005, 1], dtype=object)]

In [93]:
def get_features(data, miles):
    all_bus = AZ_bus.copy()
    features = []
    features_non_cat = []
    categories = data['categories'] #[a.strip() for a in data['categories'].split(',')]
    lat, long = data['latitude'], data['longitude']
    
    # only businesses within range:
    long_range = miles / (math.cos(lat * math.pi/180.) * 69.172)
    all_bus = all_bus[(all_bus['latitude'] >= lat-(miles/69)) & (all_bus['latitude'] <= lat+(miles/69))]
    all_bus = all_bus[(all_bus['longitude'] >= long - long_range) & (all_bus['longitude'] <= long+long_range)]
    
    for i in list(range(0, len(all_bus))):
        bus = all_bus.iloc[i]
        if ( data['business_id'] != bus['business_id'] and 
                share_categories(categories, bus['categories']) ):
            features.append(bus[['stars','review_count','chains','time_open','reviews_per_week','is_open']].to_numpy())
        if ( data['business_id'] != bus['business_id'] ):
            features_non_cat.append(bus[['stars','review_count','chains','time_open','reviews_per_week','is_open']].to_numpy())

#     print(f'Features: {features}\n')
#     print(f'FNC: {features_non_cat}\n')
    
    if features:
        return features
    elif features_non_cat:
        return features_non_cat
    else: # expand to two miles
        return get_features(data, miles+1)

In [167]:
def one_mile(data, miles):
    all_bus = AZ_bus.copy()
    categories = data['categories'] #[a.strip() for a in data['categories'].split(',')]
    lat, long = data['latitude'], data['longitude']
    
    # only businesses within range:
    long_range = miles / (math.cos(lat * math.pi/180.) * 69.172)
    all_bus = all_bus[(all_bus['latitude'] >= lat-(miles/69)) & (all_bus['latitude'] <= lat+(miles/69))]
    all_bus = all_bus[(all_bus['longitude'] >= long - long_range) & (all_bus['longitude'] <= long+long_range)]
    
    ind = []
    for i in list(range(0, len(all_bus))):
        bus = all_bus.iloc[i]
        if share_categories(categories, bus['categories']):
            ind.append(i)

    all_bus = all_bus.iloc[ind]
    
    print(ind)
    
    return all_bus

In [153]:
AZ_bus_copy = AZ_bus.copy()

In [166]:
def get_new_vals(data, all_bus):
    # density:
    density = 1/len(all_bus)

    # relative stars
    if all_bus['stars'].std() != 0:
        relative_stars = (data['stars'] - all_bus['stars'].mean()) / all_bus['stars'].std()
    else:
        relative_stars = (data['stars'] - all_bus['stars'].mean())

    # relative review count
    if all_bus['review_count'].std() != 0:
        relative_review_count = (data['review_count'] - all_bus['review_count'].mean()) / all_bus['review_count'].std()
    else:
        relative_review_count = (data['review_count'] - all_bus['review_count'].mean())
    
    return density, relative_stars, relative_review_count

In [171]:
for i in list(range(0, len(AZ_bus))):
    bus = AZ_bus.iloc[i]
    
    close_bus = one_mile(bus, 1)
    print(i, close_bus.shape[0])
    
    d, rs, rrc = get_new_vals(bus, close_bus)
    
    AZ_bus.iloc[i]['density'] = d
    AZ_bus.iloc[i]['relative_stars'] = rs
    AZ_bus.iloc[i]['relative_review_count'] = rrc

0 17
1 8
2 65
3 167
4 89
5 32
6 44
7 149
8 25
9 183
10 31
11 93
12 31
13 40
14 49
15 5
16 12
17 9
18 295
19 77
20 276
21 90
22 19
23 25
24 95
25 40
26 76
27 19
28 105
29 338
30 17
31 116
32 78
33 77
34 9
35 19
36 68
37 100
38 42
39 13
40 17
41 73
42 60
43 66
44 36
45 50
46 43
47 18
48 44
49 159
50 33
51 182
52 47
53 29
54 17
55 11
56 58
57 887
58 130
59 4
60 199
61 63
62 237
63 90
64 28
65 211
66 0

ZeroDivisionError: division by zero

In [61]:
def within_range(lat1, long1, lat2, long2):
    return abs(lat1-lat2) <= 1/69 and abs(long1-long2) <= 1 / (math.cos(lat1 * math.pi/180.) * 69.172)

In [118]:
def share_categories(c1, c2):
    if not c2 or not c1:
        return False
    else:
        cat1 = [a.strip() for a in c1.split(',')]
        cat2 = [y.strip() for y in c2.split(',')]
        return any(x in cat2 for x in cat1)

In [31]:
lst = []
lst.append(AZ_bus.iloc[0][['categories','business_id','is_open']].to_numpy())
lst.append(AZ_bus.iloc[1][['categories','business_id','is_open']].to_numpy())
lst = np.stack(lst)
print(lst[:,0])

['Golf, Active Life' 'Insurance, Financial Services']

In [162]:
np.std([1,1])

0.0

In [172]:
AZ_bus.iloc[57]

business_id                                       jdJwziOX5FB2C2D-vESY0Q
name                                               Mozell & Company Hair
address                                             7146 E 1st St, Ste 9
city                                                          Scottsdale
state                                                                 AZ
postal_code                                                        85251
latitude                                                         33.4925
longitude                                                       -111.927
stars                                                                  4
review_count                                                          31
is_open                                                                1
attributes             {'ByAppointmentOnly': 'True', 'BusinessParking...
categories             Professional Services, Cosmetics & Beauty Supp...
hours                  {'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...
chains                                                                 1
start_date                                                    1347203374
end_date                                                      1538528187
time_open                                                      195015832
reviews_per_week                                               0.0959752
reviews_per_week_v2                                              1.14286
Name: 57, dtype: object